/* General */
* {
    margin: 0;
    padding: 0;
}
body {
    background: #444;
}
#main-content {
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    position: relative;
}

/* For the mover */
#wrap {
    position: relative;
    overflow: hidden;
}
#mover {
    position: absolute;
    width: 104px;
    height: 104px;
    z-index: 100;
    display: none;
    overflow: hidden;
}
